
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    width: 100%;
    height: 100vh;
    background-image: url('../img/form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.header-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 10px 0px 10px;
    color: white
}

.nav-button{
    padding-right: 10px;
}

.button {
    border-radius: 4px;
    text-align: center;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background: #35aea9;
    border: none;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 12px;
    right: -20px;
    transition: 0.5s;
}

.button:hover{
    padding-right: 24px;
    padding-left:8px;
}

.button:hover:after {
    opacity: 1;
    right: 30px;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
}

#header-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 50px 5px 50px;
}

.main-slogan{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px 50px 20px 50px;

}
.title{
    color: white;
    text-shadow: 0px 0px 33px #4e2e2a;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    flex-basis: 60%;  /* Každý prvek zabere 50 % šířky */
    flex-grow: 0;

}

.slogan-top{
    width: 680px;
    height: 280px;
    background: #35aea9;
    /*background-color: #d6ada7; #eaae00; #40a8aa, #d73a3a,#7aa5e6, #c64e7f;#b1b8cf;rgb(177,184,207), #d9a070,#35aea9*/
    color:white;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 383px;
    left: 130px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.slogan-top p:nth-child(1){
    text-align: center;
    font-size: 5.4em;

}
.slogan-top p:nth-child(2){
   font-size: 1.3em;
}
.slogan-top p:nth-child(2) a{
    color:white;
}
.slogan-top p:nth-child(2) a:hover{
 color:#c64e7f;
}

.container h1{
    font-size: 3em;
    line-height: 1px;
}

.countdown{
    text-shadow: 0px 0px 2px #0d1b21;
    color: rgba(255, 255, 255, 0.87);
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-basis: 40%;  /* Každý prvek zabere 40 % šířky */
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    padding-top: 80px;
}
#headline{
    font-size: 3em;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 0px 0px 2px #0d1b21;
}

li {
    text-align: center;
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
li span {
    text-align: center;
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }
    li {
        font-size: calc(1.125rem * var(--smaller));
    }
    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

@media (max-width: 991px) {
    .title{

        font-size: 3.2em ;
    }
    #header-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .slogan-top{
        top:700px;
        width:750px;
    }
    .slogan-top p:nth-child(2){
        font-size: 1.6em;
    }
    .button{
        width: 300px;
        height: 80px;
        font-size: 24px;
    }
    .button:after {
        top: 18px;
    }


}