*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    background-image: url("erde.jpg");
    /*background:black;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3em;
    padding: 20px 40px 50px 40px;
    text-align: center;
}

.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(255, 255, 255);
    padding: 30px 67px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul li span {
    font-size: 4em;
    min-width: 1.3em;
    text-align: center;
}

.date-container{
    text-align: center;
    font-size: 1em;
    padding: 50px;
    line-height: 1.5em;
}
.date-container p:nth-child(2){
    font-size:0.8em
}

.date-container p:nth-child(1){
    font-size: 2em;
    padding-bottom: 15px ;
}

.btn{
    position: relative;
    padding: 1.5rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 2px black;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn a{
    color: white;
    text-decoration: none;
}
.btn a:visited{
    color: white;
    text-decoration: none;
}

.matrix {
    background: transparent;
    border: 2px solid #0f0;
    color: white;
}

.code-rain {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            180deg,
            rgba(0, 255, 0, 0) 0%,
            rgba(0, 255, 0, 0.2) 50%,
            rgba(0, 255, 0, 0) 100%
    );
    opacity: 0;
    transition: 0.3s;
}
.matrix:hover{
    border: 2px solid #0f0;

}

.matrix:hover .code-rain {
    opacity: 1;
    animation: rain 2s linear infinite;

}

@keyframes rain {
    0% {
        transform: translateY(-100%);

    }
    100% { transform: translateY(100%);

    }
}
@media (max-width: 991px){
    .countdown-container{
        padding: 20px 20px;
    }
}

@media(max-width: 767px){

    .countdown-container{
        padding: 20px 20px;
    }

    ul li span {
        font-size: 1.5em;
        min-width: 1em;
    }
    .date-container p:nth-child(1){
        font-size: 1.3em;
        padding-bottom: 15px ;
    }
    .btn {
        padding: 2rem 3rem;
        font-size: 1.8rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

}

@media (max-width: 479px){
    h1{
        font-size: 2.5em;
    }
    .countdown-container{
        padding: 10px 10px;

    }
    ul li span {
        font-size: 2.3em;
        min-width: 1.2em;

    }
    ul li {
        font-size: 0.7em;
        min-width: 1em;

    }
    .date-container p:nth-child(1){
        font-size: 1.1em;
    }
    .date-container p:nth-child(2){
        line-height: 1.5;
    }
}